mn-snap-list {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  display: block;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 8px;
  box-sizing: border-box;

  @media (max-width: 736px) {
    scroll-snap-points-x: repeat(96vw);
    scroll-snap-type: mandatory;

    .item {
      width: 96vw;

      &:first-of-type {
        margin-left: 2vw;
      }

      &:last-of-type {
        margin-right: 2vw;
      }
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .item {
    box-sizing: border-box;
    border: .5vw solid transparent;
  }
}
